
@font-face {
    font-family: 'Lab';
    src: url('assets/labBold.ttf');
    src: url('assets/labBold.ttf?#iefix') format('embedded-opentype'),
    font-weight: normal;
    font-style: normal;
}

body {
 color:white;
  background: black;
  font-family: 'Lab';
/*  background-image: url(assets/glitch.gif);
*/  background-size: cover;

}

#manifesto {
  width: 80%;
  margin-top:40px;
  margin-left: 20px;
  overflow-wrap: break-word;
  font-size:30px;
  line-height: 50px;
}

.borderless_input {
    margin-left: 3px;
    padding-bottom: none;
    border-top: none; 
    border-left: none; 
    border-right: none;
    border-color: white;
    background-color: black;
    font-family: 'Lab';
    font-size: 30px;
    height: 30px;
    color: orangered;
   }

 .margin_right { 
   margin-right: 80px;
 }


 /* INPUT WIDTHS */

 #i1{
  width: 30px;
 }

 #i2{
  width: 125px;
 }

 #i3{
  width: 65px;
 }




 #submit {
   /* position: relative; */
   -webkit-appearance: none; 
   position:relative;
   top: 50%;
   left: 50%;
   width:50px;
   height:20px;
   margin-top: -10px; /*set to a negative number 1/2 of your height*/
   margin-left: -50px; /*set to a negative number 1/2 of your width*/
  padding-bottom: 50px;
  }

 .styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  border-radius: 1px;
  background-color: black;
  border: 1px solid white;

}

.styled:hover {
  background-color:white;
  color:black;
}


